/* Style */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  body {
    background: #ffffff;
    font-family: "Times New Roman", Times, serif;
    overflow-x: hidden;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: inherit;
  }

  h1,h2,h3,h4 {
    letter-spacing: -1px;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    color: #252525;
    font-size: 5em;
  }

  h2 {
    color: #2d0096;
    font-size: 3em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0;
    color: #150073;
  }

  h4 {
    color: #454545;
    font-size: 1.8em;
    padding-bottom: 2px;
  }

  h6 {
    letter-spacing: 0;
    font-weight: normal;
  }

  p {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
  }
  .contact-information {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 24px;
  }

  /*Logo Text CMS*/
  .logo-text{
    color: #657400;
    font-size: 26px;
    font-weight: 900;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.4s)
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #3700ed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #750046;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 20px;
  }

  .section-title h2 {
    margin-top: 0;
  }

  .section-btn {
    background: transparent;
    border: 2px solid blue;
    border-radius: 3px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 700;
    padding: 14px 20px;
    margin-top: 70px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .section-btn:hover {
    transform: translateY(-5px);
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .border-top {
    border-top: 1px solid #f2f2f2;
    margin-top: 4em;
    padding-top: 2.5em;
  }

  .btn-gray {
    background: #ffffff;
  }

  .btn-blue {
    background: #ffffff;
  }

  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px dotted transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 4px dashed #3d00a0;
    border-top-color: #fa0707;
    border-bottom-color: #068b02;
    border-right-color: #ff0077c4;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/


/* Tagline Animation Start*/
.tagline {
  white-space: nowrap;
  animation: typewriter 3.5s steps(50) infinite alternate,  blink 800ms steps(50) infinite normal;
  background: -webkit-linear-gradient(225deg, #01ab0a 0%, #ff0101 50%, #4400ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
font-size:20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
/* Tagline Animation End*/


  header {
    background: #ffffff;
    border-bottom: 1px solid #c4c3c3;
    display: flex;
    height: 45px;
  }

  header .col-md-8 {
    padding-right: 0;
  }

  header p,
  header span {
    font-size: 14px;
    line-height: 24px;
    padding-top: 12px;
  }

  header a,
  header span {
    color: #40037d;
  }

  header span {
    font-weight: 500;
    display: inline-block;
    padding: 11px 15px;
  }

  header span.date-icon {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-right: 19px;
    padding-left: 19px;
  }

  header span i {
    color: #a5c422;
    margin-right: 5px;
  }
  /*---------------------------------------
      MENU              
  -----------------------------------------*/
  .navbar-default {
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
    border: 2px solid ;
    border-image: linear-gradient( #ff0707 0%, #7a00e4 50%, #a7a200 100%) 1;
    margin-bottom: 0;
    padding: 10px;
  }

  /*rotate logo*/
  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

  /*------------*/

  .first-logo{
    background: -webkit-linear-gradient(225deg, #fb0909 0%, #d0027e 50%, #020dd8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size:26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .navbar-default .logo {
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size:24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
/*Logo Name color*/
  .navbar-default .logo .fa {
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-default .navbar-nav li.ask-btn {
    margin: 3px 0 0 20px;
  }

  .navbar-default .navbar-nav li.ask-btn a {
    background: #ffffff;
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    border:2px solid;
    border-image: linear-gradient( #FF3CAC 0%, #784BA0 50%, #2B86C5 100%) 1;

    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navbar-default .navbar-nav li.ask-btn a:hover {
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: #ffffff !important;
  }

  .navbar-default .navbar-nav li a {
    color: #000000;
    font-size: 18px;
    font-weight: 900;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .navbar-default .navbar-nav > li a:hover {
    color: #393939 !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #555555;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #393939;
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #393939;
    border-color: transparent;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { 
    background-color: transparent;
  }



  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home h1 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
  }

  #home h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: inherit;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }

  .slider .container {
    width: 100%;
  }

  .slider .owl-dots {
      position: absolute;
      top: 575px;
      width: 100%;
      justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  }

  .slider .caption1 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px #FF0000;
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .caption2{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px #d2ff78;
    
    height: 100%;
    color: #ff0000;
    cursor: e-resize;
  }

  .slider .caption3 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px #ebff7a;
    height: 100%;
    color: #ff0707;
    cursor: e-resize;
  }

  .slider .caption{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    text-shadow: 2px 2px #FF0000;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/img1.png);
  }

  .slider .item-second {
    background-image: url(../images/img2.png);
  }

  .slider .item-third {
    background-image: url(../images/img3.png);
  }


  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about {
    background-image: url(../images/img5.png);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .profile img,
  .profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }
  .profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
  }
  .profile figcaption h3 {
    margin-top: 0;
  }

  #about h6 {
    color: #858585;
    margin: 0;
  }



  /*---------------------------------------
      TEAM MEMBERS              
  -----------------------------------------*/

  .team-thumb {
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .team-info {
    padding: 20px 30px 0 30px;
  }

  .team-contact-info {
    border-top: 1px solid #e9e9e9;
    padding-top: 1.2em;
    margin-top: 1.5em;
  }

  .team-contact-info .fa {
    margin-right: 5px;
    display: inline-block;
  }

  .team-contact-info p {
    margin-bottom: 2px;
  }

  .team-contact-info a {
    color: #757575;
  }

  .team-thumb .social-icon li {
    font-weight: 500;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 2px 0 2px;
  }

  .team-thumb .social-icon {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
    text-align: center;
    position: relative;
    top: 0;
  }

  .team-thumb:hover .social-icon {
    opacity: 1;
    transition-delay: 0.3s;
    transform: translateY(0px);
    top: -22em;
  }



  /*---------------------------------------
     SERVICE              
  -----------------------------------------*/

  #service {
    background: #a5c422;
  }

  #service h2,
  #service h4 {
    color: #ffffff;
  }

  #service p {
    color: #d9d9d9;
  }

  #service .service-thumb {
    padding: 0 22px;
  }

  #service .fa {
    font-size: 50px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #a5c422;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
  }


  /*---------------------------------------
      Ask Us     
  -----------------------------------------*/

  #ask {
    padding-top: 100px;
    background-image: linear-gradient( #f0ffaf 0%, #c1ffcd 50%, #ffbbe4 100%) ;
    
  }

  #ask label {
    color: #000000;
    font-weight: 900;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
  }

  #ask .form-control {
    background: #ffffff;
    border: 2px solid ;
    border-image: linear-gradient( #FF3CAC 0%, #784BA0 50%, #2B86C5 100%) 1;
    box-shadow: none;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

.mandatory{
  color:red;
}
  #ask input{
    color: #000000;
    font-weight: 900;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
  }

  #ask button#submit {
    background: #2d1eff;
    color: #ffffff;
    font-weight: 600;
    height: 55px;
  }

  #ask button#submit:hover {
    background: #00c200;
    color: #ffffff;
  }
  #ask button#reset {
    background: #ff1717;
    color: #ffffff;
    font-weight: 600;
    height: 55px;
  }

  #ask button#reset:hover {
    background: #00c200;
    color: #ffffff;
  }

 
  
/* Services */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.services {
  margin: 1em;
  width: 400px;
  border-top: 4px solid #007312;
  border-left: 2px dashed #780046;
  border-bottom: 4px solid #ff0000;
  border-right: 2px dashed #150073;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.services:hover {
  transform: scale(1.05);
}

.services img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.services-info {
  padding: 1em;
}
.services-features {
color:#056c01;
font-size: 18px;
font-weight: 600;
}
.mission{
  color:#000000;
font-size: 18px;
font-weight: 400;
text-align: justify;
max-width: fit-content;
}
  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #000000;
  }

  footer h4 {
    padding-bottom: 5px;
  }

  footer a {
    color: #ffffff;
  }

  footer a:hover {
    color: #90f9ff;
  }

  .contact-info {
    padding-top: 10px;
  }

  .contact-info .fa {
    background: #2108ff;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .opening-hours p {
    line-height: 18px;
  }

  .opening-hours span {
    font-weight: 800;
    color:#ffffff
    display: inline-block;
    padding-left: 10px;
  }

  .copyright-text p,
  .footer-link a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }

  .footer-link a {
    font-size: 15px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;
  }

  .angle-up-btn {
    position: relative;
    bottom: 4em;
    display: block;
  }

  .angle-up-btn a {
    background: black;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    font-size: 20px;
    color: cyan;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .angle-up-btn a:hover {
    background: #4267b2;
    color: #ffffff;
    transform: translateY(-5px);
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #4267b2;
    color: #ffffff;
  }
  
  /*---------------------------------------
     SOCIAL ICON  TEAM        
  -----------------------------------------*/

  .social-icon-team {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon-team li {
    display: inline-block;
    list-style: none;
  }

  .social-icon-team li a {
    border-radius: 100px;
    color: #06007d;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon-team li a:hover {
    background:  #06007d;
    color: #ffffff;
  }


  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    header {
      height: inherit;
    }
    header span.date-icon {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    header span.email-icon {
      padding-top: 0;
    }

    .navbar-default .navbar-nav li a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }

    header {
      padding-bottom: 10px;
    }
    header .text-align-right {
      text-align: left;
    }
    header span {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
    .navbar-default .navbar-nav li.ask-btn {
      margin-left: 15px;
    }
    .navbar-default .navbar-nav li a {
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
    }


    #ask-form {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    footer {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
  }

  @media only screen and (max-width: 639px) {
    h1 {
      font-size: 3em;
      line-height: 1.2em;
    }
    h2 {
      font-size: 2.1em;
    }
    h4 {
      font-size: 1.4em;
    }

    #home h3 {
      font-size: 11px;
      letter-spacing: 1px;
    }

  }

